torchvision==0.13.0
jsonargparse[signatures]
pyyaml==5.4.0
protobuf<4.21.0
lightning_hpo
lightning
Pillow>=2.9.0
numpy>=1.9.2
tensorflow
diffusers==0.7.2
tensorboard
transformers==4.24.0
deepspeed
ftfy
lightning-api-access
clip@git+https://github.com/openai/CLIP.git
lightning==1.8.1
redis

