torchvision
jsonargparse[signatures]
pyyaml==5.4.0
protobuf<4.21.0
Pillow>=2.9.0
numpy>=1.9.2
diffusers>=0.8.0
transformers>=4.24.0
deepspeed
ftfy
lightning-api-access
clip@git+https://github.com/openai/CLIP.git
lightning>=1.8.3.post0
redis
s3fs
nicegui
openai
